name: AT - Avaliação Trimestral CI

on:
    push:
        branches: ["master", "main"]
        paths:
            - "AT/**"
    pull_request:
        branches: ["master", "main"]
        paths:
            - "AT/**"
    workflow_dispatch:

jobs:
    build-test-coverage:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./AT/com-cliente-projeto

        steps:
            - name: Checkout do repositório
              uses: actions/checkout@v4

            - name: Set up JDK 17
              uses: actions/setup-java@v4
              with:
                  java-version: "17"
                  distribution: "temurin"
                  cache: "maven"

            - name: Instalar Google Chrome
              run: |
                  sudo apt-get update
                  sudo apt-get install -y google-chrome-stable

            - name: Build e Testes (Headless)
              run: mvn clean verify -DargLine="-Djava.awt.headless=true"

            - name: Upload do Relatório de Cobertura
              uses: actions/upload-artifact@v4
              with:
                  name: at-jacoco-report
                  path: AT/com-cliente-projeto/target/site/jacoco/
